#dify-chatbot-bubble-button {
  background-color: #8d6e62 !important;
  position: fixed !important;
  bottom: 1.5rem !important;
  right: 1.5rem !important;
}
#dify-chatbot-bubble-window {
  width: 24rem !important;
  height: 40rem !important;
  position: fixed !important;
  bottom: 2rem !important;
  right: 1.5rem !important;
}